<div class="row m-0  p-0">
    <div class="row">
        <div class="back">
            <div class="container">
                <div class="row mt-5">
                    <div class="navbar">
                        <div class="col-lg-4 col-md-12 col-xs-12 col-12 px-3 m-0">
                            <p class="text-white m-0 p-0">
                                <img src="../assets/earth.png">EN&nbsp;<img src="../assets/down.png" />&nbsp;<img
                                    src="../assets/Vector 2.png">
                                <a href="#main-content">Skip To Main Content</a>
                            </p>
                        </div>
                        <div
                            class="col-lg-8 col-md-12 col-xs-12 text-white d-flex justify-content-end controls px-3 gap-2 ">
                            <button><img src="../assets/search.png"></button>
                            <button (click)="Zoom(3)" id="zoom">+A</button>
                            <button (click)="Zoom(2)" id="zoom">A</button>
                            <button (click)="Zoom(1)" id="zoom">A-</button>
                            <button id="button1" class="bg-white text-black">A</button>
                            <button id="button1" class="bg-dark text">A</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-12 col-xs-12 d-flex  " style="background-color:#e6e6e6;">
                        <img src="../assets/dmc-logo-1.png" alt="Logo" class="img-fluid">
                        <span class="ml-2 font-weight-bold text-primary">DAMAN MUNICIPAL COUNCIL</span>
                    </div>
                    <div class="col-lg-10 col-md-12 col-xs-12 bg-light">
                        <nav>
                            <ul class="nav">
                                <li class="nav-item"><a class="nav-link text-dark font-weight-bold fs-5 dropdown"
                                        href="#">COUNCIL</a>
                                    <p class="text-secondary">Know Council</p>
                                    <div class="dropdown-menu">
                                        <a href="#" target="_blank" class="dropdown-item">CITIZEN CHARTERS</a>
                                        <a href="#" target="_blank" class="dropdown-item">TAXES</a>
                                    </div>
                                </li><img src="../assets/Vector 2.png">
                                <li class="nav-item"><a class="nav-link text-dark font-weight-bold fs-5"
                                        href="#">SERVICE</a>
                                    <p class="text-secondary ">Service for people</p>
                                    <div class="dropdown-menu">
                                        <a href="#" target="_blank" class="dropdown-item">CITIZEN CHARTERS</a>
                                        <a href="#" target="_blank" class="dropdown-item">TAXES</a>
                                    </div>
                                </li><img src="../assets/Vector 2.png">
                                <li class="nav-item"><a class="nav-link text-dark font-weight-bold fs-5"
                                        href="#">CITIZEN</a>
                                    <p class="text-secondary">Citizen welfare</p>
                                    <div class="dropdown-menu">
                                        <a href="#" target="_blank" class="dropdown-item">CITIZEN CHARTERS</a>
                                        <a href="#" target="_blank" class="dropdown-item">TAXES</a>
                                    </div>
                                </li><img src="../assets/Vector 2.png">
                                <li class="nav-item"><a class="nav-link text-dark font-weight-bold fs-5"
                                        href="#">INFORMATION</a>
                                    <p class="text-secondary">Important Information</p>
                                    <div class="dropdown-menu">
                                        <a href="#" target="_blank" class="dropdown-item">CITIZEN CHARTERS</a>
                                        <a href="#" target="_blank" class="dropdown-item">TAXES</a>
                                    </div>
                                </li><img src="../assets/Vector 2.png">
                                <li class="nav-item"><a class="nav-link text-dark font-weight-bold fs-5"
                                        href="#">FAQ</a>
                                    <p class="text-secondary">Questions</p>
                                    <div class="dropdown-menu">
                                        <a href="#" target="_blank" class="dropdown-item">CITIZEN CHARTERS</a>
                                        <a href="#" target="_blank" class="dropdown-item">TAXES</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row align-items-center  bg-light">
                    <div class="col-md-2 col-xs-12 d-flex align-items-center">
                        <p class="fw-bold text-primary mx-auto p-0 m-0">QUICK LINK :</p>
                    </div>
                    <div class="col-md-10 col-xs-12 d-flex justify-content-between align-items-center "
                        style="background-color:#e6e6e6;">
                        <ul class="nav ml-2">
                            <li class="nav-item"><a class="nav-link text-dark" href="#">ABOUT US</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" href="#">BUILDING APPROVAL</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" href="#">AUCTION</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" href="#">TENDERS</a></li>
                        </ul>
                        <div class="social-media-icons">
                            <a href="#"><img src="../assets/x-logo.png" alt="Twitter" class="img-fluid"></a>
                            <a href="#"><img src="../assets/fb-logo.png" alt="Facebook" class="img-fluid"></a>
                            <a href="#"><img src="../assets/insta-logo.png" alt="Instagram" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            <div class="text-block">
                                <h1>Your Gateway to Civic Services & City Information</h1>
                                <p class="text-start">Access public services, stay informed, and explore our beautiful
                                    city.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-12">
            <div class="container summary">
                <div class="card-group summarygroup">
                    <div class="card p-1 pt-3">
                        <div class="card-img-top d-flex justify-content-center">
                            <img width="50" height="50" src="assets/home1.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                public policy
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional
                                content. This content is a little bit longer.</p>
                        </div>
                    </div>
                    <div class="card p-1 pt-3">
                        <div class="card-img-top d-flex justify-content-center">

                            <img width="50" height="50" src="assets/home1.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                public policy
                            </div>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                    </div>
                    <div class="card p-1 pt-3">
                        <div class="card-img-top d-flex justify-content-center">

                            <img width="50" height="50" src="assets/letter.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                File Property Tax
                            </div>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                    </div>
                    <div class="card p-1 pt-3">
                        <div class="card-img-top d-flex justify-content-center">

                            <img width="50" height="50" src="assets/law.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                view all tenders
                            </div>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- second page starts -->

    <div class="col-12">
        <div class="container">
            <div class="row mt-5 mt-4">
                <div class="col-xl-6 col-md-6 col-xs-12">
                    <div class="images1">
                        <img src="../assets/beach.png" class="bottom-image" />
                        <img src="../assets/church.png" class="top-image" />
                        <img src="../assets/welcome.png" class="welcome-image" />
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-xs-12">
                    <div class="box border img-box">
                        <div class="content" style="padding: 20px;">
                            <h4>Discover Daman</h4>
                            <h1 class="mt-2">A City of Heritage and Beauty!</h1>
                            <p class="mt-4">
                                Discover Daman, a city rich in history and culture, nestled on
                                the western coast of India. Known for its scenic beaches,
                                vibrant festivals, and colonial heritage, Daman offers a unique
                                blend of natural beauty and historical significance. Explore our
                                city and uncover the charm that makes Daman a beloved
                                destination for both residents and visitors alike.
                            </p>
                            <div class="row mb-4">
                                <div class="col-md-6 col-xs-12">
                                    <div>
                                        <span><img src="assets/book.png"></span>
                                        <span>&nbsp;88.06 % Literacy rate</span>
                                    </div>
                                    <div class="mt-3">
                                        <span><img src="assets/account_balance.png"></span>
                                        <span>&nbsp;1 Municipality </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div>
                                        <span><img src="assets/square_foot.png"></span>
                                        <span>&nbsp;72.00 sq. Km Area</span>
                                    </div>
                                    <div class="mt-3">
                                        <span><img src="assets/group.png"></span>
                                        <span>&nbsp;1,91,173 Population </span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-light  text-primary p-2 border border-primary text-uppercase"
                                [routerLink]="['/description']" target="_blank">Know
                                More <img src="assets/cross-arrow.png"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4" style="margin-top: 70px;">
                <div class="col-xl-3 col-md-6 col-xs-12">
                    <div class="alerts">
                        <span class="text-uppercase text-success fw-bold">Update</span>
                        <span class="message">Tempora occaecati repudiandae tatem harum nesciunt atq...</span>
                        <span class="arrow">&#8594;</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-xs-12">
                    <div class="alerts">
                        <span class="text-uppercase text-success fw-bold">Update</span>
                        <span class="message ml-2">Tempora occaecati repudiandae tatem harum nesciunt atq...</span>
                        <span class="arrow">&#8594;</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-xs-12">
                    <div class="alerts">
                        <span class="text-uppercase text-success fw-bold">Update</span>
                        <span class="message">Tempora occaecati repudiandae tatem harum nesciunt atq...</span>
                        <span class="arrow">&#8594;</span>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-xs-12">
                    <div class="alerts">
                        <span class="text-uppercase text-success fw-bold">Update</span>
                        <span class="message">Tempora occaecati repudiandae tatem harum nesciunt atq...</span>
                        <span class="arrow">&#8594;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- second page ends -->

    <!-- services -->
    <!-- services and visit places starts -->

    <section class="bg-light">
        <div class="col-12  mt-4">
            <div class="container">
                <div class="bg-img border border-primary">
                    <div class="row ">
                        <div class="col-md-3 place-text1">
                            <h1>Other Services!</h1>
                            <p>Explore the top attractions in Daman, from its serene beaches to its historic landmarks.
                            </p>
                        </div>
                        <div class="col-md-9" style="padding: 22px;">
                            <div class="carousel slide" data-bs-ride="true" id="carouselExampleIndicators">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row g-4 mt-5">
                                            <div class="col-md-4">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class=" card-box p-2  h-100  shadow">
                                                        <img alt="GIF Image" class="img-fluid mb-4"
                                                            src="../assets/home.png" width="50px">
                                                        <h5 class="my-3 fw-normal fs-3 text-uppercase">building approval
                                                        </h5>
                                                        <p class="pe-3 mb-5">
                                                            Easily submit and track your building approval applications
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class=" card-box p-2  h-100   shadow">
                                                        <img alt="GIF Image" class="img-fluid mb-4"
                                                            src="../assets/birth.png" width="50px">
                                                        <h5 class="my-3 fw-normal fs-3 text-uppercase ">Birth
                                                            Certificate</h5>
                                                        <p class="pe-3 mb-5">
                                                            Easily submit and track your building approval applications
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class=" card-box p-2  h-100   shadow">
                                                        <img alt="GIF Image" class="img-fluid mb-4"
                                                            src="../assets/death.png" width="50px">
                                                        <h5 class="my-3 fw-normal fs-3 text-uppercase">Death Certificate
                                                        </h5>
                                                        <p class="pe-3 mb-5">
                                                            Easily submit and track your building approval applications
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row g-4 mt-5">
                                            <div class="col-md-4">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class=" card-box p-2  h-100   shadow">
                                                        <img alt="GIF Image" class="img-fluid mb-4"
                                                            src="../assets/licence.png" width="50px">
                                                        <h5 class="my-3 fw-normal fs-3 text-uppercase">Licenses</h5>
                                                        <p class="pe-3 mb-5">
                                                            Easily submit and track your building approval applications
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class=" card-box p-2  h-100   shadow">
                                                        <img alt="GIF Image" class="img-fluid mb-4 "
                                                            src="../assets/service.png" width="50px">
                                                        <h5 class="my-3 fw-normal fs-3 text-uppercase">Request
                                                            Service</h5>
                                                        <p class="pe-3 mb-5">
                                                            Easily submit and track your building approval applications
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class=" card-box p-2  h-100   shadow">
                                                        <img alt="GIF Image" class="img-fluid mb-4"
                                                            src="../assets/home.png" width="50px">
                                                        <h5 class="my-3 fw-normal fs-3 text-uppercase">building approval
                                                        </h5>
                                                        <p class="pe-3 mb-5">
                                                            Easily submit and track your building approval applications
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 d-flex justify-content-end">
                                    <button class="carousel-control-prev cbutton" data-bs-slide="prev"
                                        data-bs-target="#carouselExampleIndicators" type="button">
                                        <span aria-hidden="true" class="carousel-control"></span>
                                    </button>
                                    <button class="carousel-control-next cbutton" data-bs-slide="next"
                                        data-bs-target="#carouselExampleIndicators" type="button">
                                        <span aria-hidden="true" class="carousel-control"><img src="../assets/arrow.png"
                                                alt=""></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xl-3 col-md-6 col-xs-12 place-text">
                        <h1>Must visit places</h1>
                        <p>Explore the top attractions in Daman, from its serene beaches to its historic landmarks.</p>
                        <a class="btn btn-light   text-primary p-2 border border-primary text-uppercase p-1 m-1"
                            [routerLink]="['/places']" target="_blank">view all <img src="assets/cross-arrow.png"></a>
                    </div>
                    <div class="col-xl-9 col-md-6 col-xs-12 ">
                        <div class="row">
                            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="d-flex">
                                            <div class="row g-2">
                                                <div class="col-xl-3 place-card">
                                                    <div class="card">
                                                        <img src="../assets/devka.png" class="card-img-top">
                                                        <div class="card-body place-content">
                                                            <h5 class="card-title text-success text-uppercase">Devka
                                                                beach</h5>
                                                            <p class="card-text">Enjoy a serene day by the sea with
                                                                beautiful sandy shores and vibrant
                                                                beachfront activities.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 place-card">
                                                    <div class="card">
                                                        <img src="assets/place2.png" class="card-img-top">
                                                        <div class="card-body place-content">
                                                            <h5 class="card-title">Card title</h5>
                                                            <p class="card-text">Some quick example text to build on the
                                                                card title and make up the
                                                                bulk
                                                                of
                                                                the
                                                                card's content.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 place-card">
                                                    <div class="card">
                                                        <img src="assets/place3.png" class="card-img-top">
                                                        <div class="card-body place-content">
                                                            <h5 class="card-title">Card title</h5>
                                                            <p class="card-text">Some quick example text to build on the
                                                                card title and make up the
                                                                bulk
                                                                of
                                                                the
                                                                card's content.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 place-card">
                                                    <div class="card">
                                                        <img src="assets/place2.png" class="card-img-top">
                                                        <div class="card-body place-content">
                                                            <h5 class="card-title">Card title</h5>
                                                            <p class="card-text">Some quick example text to build on the
                                                                card title and make up the
                                                                bulk
                                                                of
                                                                the
                                                                card's content.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row g-2">
                                            <div class="col-xl-3 place-card">
                                                <div class="card">
                                                    <img src="assets/place2.png" class="card-img-top">
                                                    <div class="card-body place-content">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">Some quick example text to build on the
                                                            card title and make up the
                                                            bulk
                                                            of
                                                            the
                                                            card's content.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 place-card">
                                                <div class="card">
                                                    <img src="assets/place2.png" class="card-img-top">
                                                    <div class="card-body place-content">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">Some quick example text to build on the
                                                            card title and make up the
                                                            bulk
                                                            of
                                                            the
                                                            card's content.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 place-card">
                                                <div class="card">
                                                    <img src="assets/place2.png" class="card-img-top">
                                                    <div class="card-body place-content">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">Some quick example text to build on the
                                                            card title and make up the bulk
                                                            of
                                                            the
                                                            card's content.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 place-card">
                                                <div class="card">
                                                    <img src="assets/place2.png" class="card-img-top">
                                                    <div class="card-body place-content ">
                                                        <h5 class="card-title">Card title</h5>
                                                        <p class="card-text">Some quick example text to build on the
                                                            card title and make up the bulk
                                                            of
                                                            the
                                                            card's content.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 d-flex justify-content-end">
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- services and visit places ends -->


    <!-- ongoing projects -->
    <div class="col-12" id="project">
        <div class="container">
            <div class=" fs-1 fw-bold mb-3 text-uppercase d-flex mt-5 mb-4">Ongoing projects</div>
            <div class="row row-cols-1 row-cols-md-4 g-2">
                <div class="col-lg-3 col-xs-12">
                    <div class="card h-100">
                        <img src="assets/project-home.png" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">Restoration for Municipal Market</p>
                            <p class="card-text">This market situated at center of the City is a historic building
                                constructed at
                                the
                                time of Portuguese era around 1879.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-12">
                    <div class="card h-100">
                        <img src="assets/project-home1.png" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">Restoration for Municipal Market</p>
                            <p class="card-text">Daman is a tourist place. Most of the tourist from Vapi, Valsad,
                                Silvassa, Surat,
                                and
                                Mumbai and nearby area visit...</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-12">
                    <div class="card h-100">
                        <img src="assets/nani-daman.png" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">Beautification of Nani Daman Jetty Garden</p>
                            <p class="card-text">The Nani Daman jetty garden is the most happening place for tourists as
                                well as
                                local
                                citizens to get together...</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-12">
                    <div class="card h-100">
                        <img src="assets/ground.png" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">Bandodkar Sports complex</p>
                            <p class="card-text">This market situated at center of the City is a historic building
                                constructed at
                                the
                                time of Portuguese era around 1879. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-4">
                <button class="btn btn-light  text-primary p-2 border border-primary  mt-4 mb-5 text-uppercase"
                    [routerLink]="['/projects']" target="_blank">Load
                    More <img src="assets/down-arrow.png"></button>
            </div>
        </div>
    </div>

    <!-- goverment Schemes -->

    <div class="col-12">
        <div class="container">
            <div class=" fs-1 fw-bold  mt-5 text-uppercase d-flex">GOVERNMENT SCHEMES</div>
            <div class="row  row-cols-md-5 d-flex justify-content-center mt-2 g-5 ">
                <div class="col-xl-2 col-md-2 col-12">
                    <div class="box1">
                        <div class="imgBx">
                            <img class="image" src="assets/atal-misson1.png">
                        </div>
                        <div class="content1">
                            <h6>Atal Mission for Rejuvenation &
                                Urban Transformation (AMRUT)</h6>
                            <p>Providing basic services (e.g. water supply, sewerage, urban transport) to
                                households and build
                                amenities
                                in cities which will improve the quality of life for all people.</p>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-2 col-md-2 col-12 ">
                    <div class="box1">
                        <div class="imgBx">
                            <img class="image" src="assets/pradhanmantri.png">
                            <!-- <div class="content">Pradhan Mantri Awas Yojana (PMAY)</div> -->
                        </div>
                        <!-- <div class="lower-content">Pradhan Mantri Awas Yojana (PMAY)</div> -->
                        <div class="content1">
                            <div>
                                <h6>PRADHANMANTRI AWAS YOJANA</h6>
                                <p>Providing basic services (e.g. water supply, sewerage, urban transport) to
                                    households and build
                                    amenities
                                    in cities which will improve the quality of life for all people.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-2 col-md-2 col-12 ">
                    <div class="box1">
                        <div class="imgBx">
                            <img class="image" src="assets/swatch-bharat.png">
                            <!-- <div class="content">Swachh Bharat Mission</div> -->
                        </div>
                        <!-- <div class="lower-content">Pradhan Mantri Awas Yojana (PMAY)</div> -->
                        <div class="content1">
                            <div>
                                <h6>SWACHH BHARAT MISSION</h6>
                                <p>Providing basic services (e.g. water supply, sewerage, urban transport) to
                                    households and build
                                    amenities
                                    in cities which will improve the quality of life for all people.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-2 col-md-2 col-12 ">
                    <div class="box1">
                        <div class="imgBx">
                            <img class="image" src="assets/social-assistence.png">
                            <!-- <div class="content">National Social Assistance Programme (NSAP)</div> -->
                        </div>
                        <!-- <div class="lower-content">Pradhan Mantri Awas Yojana (PMAY)</div> -->
                        <div class="content1">
                            <div>
                                <h6>NATIONAL SOCISL ASSISTANCE PROGRAMME(NSAP)</h6>
                                <p>Providing basic services (e.g. water supply, sewerage, urban transport) to
                                    households and build
                                    amenities
                                    in cities which will improve the quality of life for all people.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-2 col-md-2  col-12">
                    <div class="box1">
                        <div class="imgBx">
                            <img class="image" src="assets/mplad.png">
                            <!-- <div class="content">MPLAD</div> -->
                        </div>
                        <!-- <div class="lower-content">Pradhan Mantri Awas Yojana (PMAY)</div> -->
                        <div class="content1">
                            <div>
                                <h6>MPLAD</h6>
                                <p>Providing basic services (e.g. water supply, sewerage, urban transport) to
                                    households and build
                                    amenities
                                    in cities which will improve the quality of life for all people.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xs-12 pb-2 mt-4 mb-4 ">
                <marquee behavior="scroll" direction="left" scrollamount="5" onmouseover="this.stop()"
                    onmouseout="this.start()">
                    <span><img src="assets/Swach-Bharat.png"></span>
                    <span class="ps-5 pt-5"><img src="assets/gov.png"></span>
                    <span class="ps-5 pt-5"><img src="assets/Incredible-India.png"></span>
                    <span class="ps-5 pt-5"><img src="assets/digital.png"></span>
                    <span class="ps-5 pt-5"><img src="assets/gov.in.png"></span>
                    <span class="ps-5 pt-5"><img src="assets/dadranagar.png"></span>
                </marquee>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer>
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12  col-12 mt-2 mb-3">
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <img src="assets/telephone.png">
                        </div>
                        <div class="col-md-10">
                            <p
                                style="color: #FFF; font-family: Montserrat; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal; margin-bottom: 0;">
                                Telephone
                            </p>
                            <p
                                style="color: #FFF; font-family: Montserrat; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal;">
                                0260-2230666<br>2230879
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-xs-12  col-12 mt-2 mb-3">
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <img src="assets/mail.png">
                        </div>
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <p
                                    style="color: #FFF; font-family: Montserrat; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal; margin-bottom: 0;">
                                    Mail Address
                                </p>
                                <p>
                                    <a class="footer-common">codmc-daman-ddnic.in codmc.daman...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-xs-12  col-12 mt-2 mb-3">
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <img src="assets/location.png">
                        </div>
                        <div class="col-md-10">
                            <p
                                style="color: #FFF; font-family: Montserrat; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal; margin-bottom: 0;">
                                Location
                            </p>
                            <p class="footer-common">Fort Area Moti Daman, Daman (U.T.) - 396220</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-xs-12  col-12 mt-2 mb-3">
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <img src="assets/fax.png">
                        </div>
                        <div class="col-md-10">
                            <div class="col-md-10">
                                <p
                                    style="color: #FFF; font-family: Montserrat; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal; margin-bottom: 0;">
                                    Fax
                                </p>
                                <p
                                    style="color: #FFF; font-family: Montserrat; font-size: 14px; font-style: normal; font-weight: 700; line-height: normal;">
                                    02602231707
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12 mt-2 mb-3">
                    <div>
                        <div class="d-flex">
                            <p><img class="border border-primary" src="../assets/dmc-logo-1.png" alt="DMC LOGO"></p>
                            <span class=" fs-4">&nbsp;DAMAN MUNICIPAL COUNCIL
                            </span>
                        </div>
                        <div class="mt-4">
                            <span>
                                <img src="assets/national-emblem.png">
                            </span>
                            <span class="ml-4 ps-5 pt-5">
                                <img src="../assets/digital-india.png">
                            </span>
                            <span class="ml-4 ps-5 pt-5">
                                <img src="assets/MyGov.png">
                            </span>
                        </div>
                        <img class="mt-4" src="assets/Social.png">
                    </div>

                </div>
                <div class="col-lg-2 col-md-6 col-12 mt-2 mb-3">
                    <div>
                        <h2 class="footer-common fs-4">Quick Links</h2>
                        <div>
                            <p>Circular & Notifications</p>
                            <p>Recruitments</p>
                            <p>Tender & Quotations</p>
                            <p>Schemes</p>
                            <p>Contact Us</p>
                            <p>Privacy Policy</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12 mt-2 mb-3">
                    <div>
                        <h2 class="footer-common fs-4">Online Service</h2>
                        <div>
                            <p>Property Tax</p>
                            <p>Construction & Permissions</p>
                            <p>Complain</p>
                            <p>Auction</p>
                            <p>Job Application</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mt-2 mb-3">
                    <div>
                        <h2 class="footer-common fs-4 mb-4">Install App</h2>
                        <div>
                            <p>
                                <img src="../assets/appstore.png">
                            </p>
                            <p>
                                <img src="../assets/playstore.png">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row py-3">
                <div class="col-xl-6 col-12 d-flex justify-content-center">
                    <p>Copyright © 2024 Daman Municipal Council</p>
                </div>
                <div class="col-xl-6 col-12 d-flex justify-content-center ">
                    <p>Design & Developed by &nbsp; <img src="../assets/responscity-logo.png"></p>
                </div>
            </div>
        </div>
    </div>
</footer>