<div class="col-12">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-2">
            <div class="col-lg-3 col-md-6  col-xs-12">
                <div class="card h-100 w-100">
                    <img src="assets/project-home.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-title">Restoration for Municipal Market</p>
                        <p class="card-text">This market situated at center of the City is a historic building
                            constructed at
                            the
                            time of Portuguese era around 1879. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="card h-100 w-100">
                    <img src="assets/project-home1.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-title">Restoration for Municipal Market</p>
                        <p class="card-text">Daman is a tourist place. Most of the tourist from Vapi, Valsad,
                            Silvassa, Surat,
                            and
                            Mumbai and nearby area visit...</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="card h-100 w-100">
                    <img src="assets/nani-daman.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-title">Beautification of Nani Daman Jetty Garden</p>
                        <p class="card-text">The Nani Daman jetty garden is the most happening place for tourists as
                            well as
                            local
                            citizens to get together...</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="card h-100 w-100">
                    <img src="assets/ground.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-title">Bandodkar Sports complex</p>
                        <p class="card-text">This market situated at center of the City is a historic building
                            constructed at
                            the
                            time of Portuguese era around 1879. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>